<MarketplaceDetails>
  <SmallAppTile>store.png</SmallAppTile>
  <ScreenShots>inte1.png;inte2.png;inte3.png;inte4.png;inte5.png;inte6.png;inte7.png;;</ScreenShots>
  <ScreenShotsWXGA>xga.png;xga2.png;xga3.png;xga4.png;xga5.png;xga6.png;xga7.png;;</ScreenShotsWXGA>
  <ScreenShots720P>7201.png;7202.png;7203.png;7204.png;7205.png;7206.png;;;</ScreenShots720P>
</MarketplaceDetails>